<div class="control-group">
    <div class="row-fluid">
        <label class="control-label">Speed</label>
        <input type="range" id="fan-speed-slider" min="0" max="1" step="0.05" data-bind="value: speed, event: {input: onUpdateSpeed}">
        </div>
    </div>
</div>